body { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, serif; color: maroon; background-color: white }
h1 { color: maroon }
h2 { color: maroon; font-size: 1.2em }
p { color: #808000; }

